@import models.ForgotPassword
@(forgotForm:Form[ForgotPassword])(implicit messages: MessagesProvider,request :RequestHeader,flash:Flash)
@import helper._
<div>@flash.get("logged out").getOrElse("")</div>
<div>@flash.get("incorrect user").getOrElse("")</div>
<div>@flash.get("user exists").getOrElse("")</div>
<div>@flash.get("disabled").getOrElse("")</div><br>
@main("Sign In Page"){
<br>
<div class="container">
    <div class="jumbotron" align="center">
        <h3>ForgotPassword Page !</h3>
        @helper.form(action = routes.SigninController.changePassword()){
        @CSRF.formField
        @helper.inputText(forgotForm("username"), '_label -> "username", '_showConstraints ->false)
        @helper.inputText(forgotForm("newPassword"), '_label -> "newPassword", '_showConstraints ->false)
        @helper.inputText(forgotForm("confirmPassword"), '_label -> "confirmPassword", '_showConstraints ->false)
        <input type="submit" class="btn btn-success" value ="changePassword">
        }
    </div>
}
