@import models.UserData
@(userForm :Form[UserData])(implicit messages: MessagesProvider,request :RequestHeader)
@import helper._
@main("Registration page") {

@if(userForm.hasGlobalErrors) {
<ul>
    @for(error <- userForm.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}
<div class="container">
    <div class="jumbotron" align="center">
    <h3>User Registration Form</h3>
    @helper.form(action = routes.RegistrationController.register()){
    @CSRF.formField
    @helper.inputText(userForm("firstname"), '_label -> "FirstName", '_showConstraints ->false)
    @helper.inputText(userForm("middlename"), '_label -> "MiddleName")
    @helper.inputText(userForm("lastname"), '_label -> "LastName", '_showConstraints ->false)
    @helper.inputText(userForm("username"), '_label -> "Username(email)", '_showConstraints ->false)
    @helper.inputText(userForm("password"), '_label -> "Password", '_showConstraints ->false)
    @helper.inputText(userForm("confirmPassword"), '_label -> "Re-enter Password", '_showConstraints ->false)
    @helper.inputText(userForm("mobile"), '_label -> "Contact No.", '_showConstraints ->false)
    @helper.select(userForm("gender"),Seq("female" -> "Female", "male" -> "Male"), '_label ->"Gender", '_showConstraints -> false)
    @helper.inputText(userForm("age"), '_label -> "Age", '_showConstraints -> false)
    @helper.inputText(userForm("hobbies"), '_label -> "Hobbies", '_showConstraints -> false)
    <input type="submit" class="btn btn-success" value ="submit">
    </div>
</div>
 }

}
