@import models.SignInData
@(userLogin:Form[SignInData])(implicit messages: MessagesProvider,request :RequestHeader,flash:Flash)
@import helper._
<div>@flash.get("logged out").getOrElse("")</div>
<div>@flash.get("incorrect user").getOrElse("")</div>
<div>@flash.get("user exists").getOrElse("")</div>
<div>@flash.get("disabled").getOrElse("")</div><br>
@main("Sign In Page"){
<br>
<div class="container">
    <div class="jumbotron" align="center">
        <h3>SignIn Page !</h3>
        @helper.form(action = routes.SigninController.handleLogin()){
        @CSRF.formField
        @helper.inputText(userLogin("username"), '_label -> "username", '_showConstraints ->false)
        @helper.inputText(userLogin("password"), '_label -> "Password", '_showConstraints ->false)
        <input type="submit" class="btn btn-success" value ="submit">
        <a href="@routes.SigninController.forgotPasswordForm()">Forgot Password</a>
        }
    </div>
</div>
}
