@(listOfAssignments: List[Assignment])
@main("Assignments list"){
<div>
    @usernavbar()
</div>
<br>
<br>
<div class="container">
    <div class="text-center">
        <h2>List of Assignments</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @for(assignment <- listOfAssignments){
            <tr>
                <td>@assignment.title</td>
                <td>@assignment.description</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}