@import models.UserProfile
@(profileForm: Form[UserProfile])(implicit flash: Flash,request: RequestHeader,messages: MessagesProvider)
@import helper._
<div>@flash.get("success").getOrElse("")</div>
<div>@flash.get("logged in").getOrElse("")</div>
<div>@flash.get("password updated").getOrElse("")</div>
<div>@flash.get("profile updated").getOrElse("")</div>
<div>
    @if(request.session.get("isAdmin").getOrElse("false") == "false"){
    @usernavbar()
    }else{
    @adminnavbar()
    }
</div>
@main("User Profile Page"){
@helper.form(action = routes.UserProfileController.updateUser()) {
@CSRF.formField
@helper.inputText(profileForm("firstname"),'_showConstraints->false)
@helper.inputText(profileForm("middlename"))
@helper.inputText(profileForm("lastname"),'_showConstraints->false)
@helper.inputText(profileForm("username"), '_label -> "Username(email)", '_showConstraints ->false)
@helper.inputText(profileForm("mobile"),'_showConstraints->false)
@helper.select(profileForm("gender"),options(List("Male","Female")),'_showConstraints->false)
@helper.inputText(profileForm("age"),'type -> "number",'_showConstraints->false)
@helper.inputText(profileForm("hobbies"),'_showConstraints->false)
<button type="submit" value="Update">UPDATE</button>
}
}
